@charset "utf-8";
/* CSS Document */
header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	background-image: url(../Images/hero-image.png);
	background-color: rgb(103, 145, 182);
	background-size: cover;
	color: white;
	padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
		
}

.nav nav{
	display: flex;
	justify-content: space-around;
	background-color: rgb(41, 72, 100);
}

.nav nav a {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-weight: bolder;
	color: white;
	font-size: 20px;	text-decoration: none
}

.nav nav a:hover {
	transition: color 0.3 easy;
	color: rgb(189, 184, 184);
}


.about-me {
	display: flex;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 14px;
}

.about-me figure {
	align-self: center;
	color: white;
}

.about-me div {
    border-left: solid;
    border-color: rgb(41, 72, 100);
    padding-left: 35px;
    margin-top: 30px;
    margin-bottom: 15px;
}


.work {
	display: flex;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 14px;
}

.work figure {
	align-self: center;
	color: white;

}

.work div {
    border-left: solid;
    border-color: rgb(41, 72, 100);
    padding-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}


.projects {
	display: flex;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 14px;
}

.projects figure {
	align-self: center;
	color: white;
}


.projects div {
	border-left: solid;
    border-color: rgb(41, 72, 100);
    padding-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.contacts {
	display: flex;
}

.contacts figure {
	align-items: center;
	color: white;
}

.contacts div {
	display: flex;
	flex-direction: row;	
	flex-wrap: nowrap;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: x-large;
	border-left: solid;
    border-color: rgb(41, 72, 100);
    padding-left: 35px;
    margin-top: 15px;
    margin-bottom: 15px;
}


footer {
	display: flex;
	justify-content: Center;
	background-color: rgb(41, 72, 100);
	color: white;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}
